@{
    ViewBag.Title = "AppInfo Page";
}


<div class="btn-group pull-right m-t-15">
    <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">App Settings<span class="m-l-5"><i class="fa fa-cog"></i></span></button>
    <div class="dropdown-menu dropdown-menu-right">
        @if (@ViewBag.app.Expired == "N")
        {
            <a class="dropdown-item" data-toggle="modal" data-target="#expiremodal" href="">Expire Application</a>
        }
        else
        {
            <a class="dropdown-item" data-toggle="modal" data-target="#unexpiremodal" href="#">Unexpire Application</a>
        }
        <a class="dropdown-item" data-toggle="modal" data-target="#deletemodal" href="#">Delete Application</a>
    </div>
</div>

<br/>
<a href="~/Home" type="button" class="btn btn-primary waves-effect waves-light">
    <span class="btn-label">
        <i class="fa fa-arrow-left"></i>
    </span>Back
</a>
<br/>
<br/>
<h5>Application: @ViewBag.app.AppName</h5>


    <ul class="nav nav-tabs m-b-10" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-expanded="true">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vendor-tab" data-toggle="tab" href="#vendor" role="tab" aria-controls="vendor" aria-expanded="false">Vendor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contract-tab" data-toggle="tab" href="#contract" role="tab" aria-controls="contract" aria-expanded="false">Contract</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="associated-tab" data-toggle="tab" href="#associated" role="tab" aria-controls="associated" aria-expanded="false">Associated Software and Hardware</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" id="ADgroup-tab" data-toggle="tab" href="#ADgroup" role="tab" aria-controls="ADgroup" aria-expanded="false">AD Groups</a>
        </li>-->
    </ul>

    <div class="tab-content" id="myTabContent">
        <div role="tabpanel" class="tab-pane fade in active show" id="main" aria-labelledby="main-tab" aria-expanded="true">
            <div align="right">
               <a href="~/Edit/Index/@ViewBag.app.AppName/"> <i class="zmdi zmdi-edit"></i> <span>edit</span> </a>
            </div>

            <h4>Main Information</h4>

            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>Application Name</th>
                        <td>@ViewBag.app.AppName</td>
                    </tr>
                    <tr>
                        <th>Application Description</th>
                        <td>@ViewBag.app.AppDesc</td>
                    </tr>
                    <tr>
                        <th>Application Type</th>
                        <td>@ViewBag.app.AppType</td>
                    </tr>
                    <tr>
                        <th>Deployment Type</th>
                        <td>@ViewBag.app.DeployType</td>
                    </tr>
                    <tr>
                        <th>Licence Type</th>
                        <td>@ViewBag.app.LiscType</td>
                    </tr>
                    <tr>
                        <th>No. of Licences</th>
                        <td>@ViewBag.app.LiscNum</td>
                    </tr>
                    <tr>
                        <th>Number of Users (Range)</th>
                        <td>@ViewBag.app.UserNum</td>
                    </tr>
                    <tr>
                        <th>Application Access (990?)</th>
                        @if (@ViewBag.app.AppAccess == "Y")
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    </tr>
                </tbody>
            </table>

            <br/>
            <h5>Application Support</h5>
               <table class="table table-striped table-bordered">
                    <tbody>
                        @foreach (var item in @ViewBag.appSupport)
                        {
                        <tr>
                            <th>IT Owner</th>
                            <td>@item.AppSupportITOwner</td>
                        </tr>
                        <tr>
                            <th>System Administrator</th>
                            <td>@item.AppSupportAdmin</td>
                        </tr>
                        <tr>
                            <th>Business Owner Group</th>
                            <td>@item.AppSupportBOG</td>
                        </tr>
                        <tr>
                            <th>Business Owner PMR</th>
                            <td>@item.AppSupportPMR</td>
                        </tr>
                        <tr>
                            <th>Application Support Hours</th>
                            <td>@item.AppHours</td>
                        </tr>
                        <tr>
                            <th>Maintenance Window</th>
                            <td>@item.AppMaintenance</td>
                        </tr>
                        }
                    </tbody>
                </table>
            <br/>
            <div align="right">
                <a href="" data-toggle="modal" data-target="#version"> <i class="zmdi zmdi-edit"></i> <span>edit</span> </a>
            </div>
            <h4>Version Information</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Version (Click for server info)</th>
                        <th>Instance Environment</th>
                        <th>Install Date</th>
                        <th>Upgrade Date</th>
                        <th>Version Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @ViewBag.versions)
                    {
                        <tr>
                            <td>
                               <a href="~/Info/Version/@item.AppVersion@item.AppIE/@ViewBag.app.AppName/"> @item.AppVersion </a>
                            </td>
                            <td>
                                @item.AppIE
                            </td>
                            <td>
                                @item.AppInstallDate
                            </td>
                            <td>
                                @item.AppUpgradeDate
                            </td>
                                @if (@item.VersionStatus == "A")
                                {
                                <td><span class="label label-success">Active</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">Expired</span></td>
                                }
                        </tr>
                    }            
                </tbody>
            </table>
            <br />
        </div>

        <div class="tab-pane fade" id="vendor" role="tabpanel" aria-labelledby="vendor-tab" aria-expanded="false">
            <div align="right">
                <a href="~/Edit/VendorEdit/@ViewBag.vendor.VendName/@ViewBag.app.AppName/"><i class="zmdi zmdi-edit"></i> <span>edit</span></a>
            </div>
            <h2>Vendor Information</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Vendor Name</th>
                    <td>@ViewBag.vendor.VendName</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@ViewBag.vendor.VendAddr</td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td><a href="@ViewBag.vendor.VendURL">@ViewBag.vendor.VendURL</a></td>
                </tr>
            </table>
            <br/>
            <h5>Vendor Support</h5>
            <table class="table table-striped table-bordered">
                @foreach (var item in @ViewBag.appVendorSupport)
                {
                    <tbody>
                        <tr>
                            <td>Support Hours</td>
                            <td>@item.VenSupportHours</td>
                        </tr>
                        <tr>
                            <td>Support Numbers</td>
                            <td>@item.VenSupportNum</td>
                        </tr>
                        <tr>
                            <td>Support Email</td>
                            <td><a href="mailto:(@item.VenSupportEmail)">@item.VenSupportEmail</a></td>
                        </tr>
                        <tr>
                            <td>Support Comments</td>
                            <td>@item.VenSupportComments</td>
                        </tr>
                    </tbody>
                }
            </table>


            <div align="right">
                <a href="" data-toggle="modal" data-target="#contacts"><i class="zmdi zmdi-edit"></i> <span>edit</span></a>
            </div>
            <h5>Vendor Contacts</h5>
            <table id="datatable-buttons" class="table table-hover table-bordered" cellspacing="0" width="100%">
                <tr>
                    <th>Contact Name</th>
                    <th>Contact Email</th>
                    <th>Contact Phone Number</th>
                    <th>Contact Status</th>
                </tr>
                @foreach (var item in @ViewBag.appcontacts)
                {
                    <tr>
                        <td>
                            @item.VenContactTitle @item.VenContactFN @item.VenContactLN
                        </td>
                        <td>
                            @item.VenContactEmail
                        </td>
                        <td>
                            @item.VenContactNum
                        </td>
                        @if (@item.VenContactStatus == "Y")
                        {
                            <td><span class="label label-success">Active</span></td>
                        }
                        else
                        {
                            <td><span class="label label-danger">Expired</span></td>
                        }
                    </tr>
                }
            </table>
            <br /> 
        </div>

        <div class="tab-pane fade" id="contract" role="tabpanel" aria-labelledby="contract-tab" aria-expanded="false">
            <div align="right">
                <a href="" data-toggle="modal" data-target="#modified"> <i class="zmdi zmdi-edit"></i> <span>edit</span> </a>
            </div>

            <h4>Contract Information</h4>

            <table class="table table-hover table-bordered mb-0">
                <thead>
                    <tr>
                        <th>Contract Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in @ViewBag.appcontracts)
                        {
                            string array = @item.VenContractNum;
                            string app = @ViewBag.app.AppName;
                                <tr>
                                    <td>@Html.ActionLink(array, "Index", "Contract", new { id = array, appname = app }, null)</td>
                                    <td>@item.VenContractStart</td>
                                    <td>@item.VenContractEnd</td>
                                </tr>
                        }
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="associated" role="tabpanel" aria-labelledby="associated-tab" aria-expanded="false">
            <div align="right">
                <a href="" data-toggle="modal" data-target="#software"><i class="zmdi zmdi-edit"></i> <span>edit</span></a>
            </div>
            <h4>Associated Software</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Software (MSI)</th>
                        <th>Software Version</th>
                        <th>Production Date</th>
                        <th>Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int j = 1;
                        foreach (var item in @ViewBag.ascSoftware)
                        {
                            <tr>
                                <td>@j</td>
                                <td>@item.AppAscSoftwareName</td>
                                <td>@item.AppAscSoftwareVersion</td>
                                <td>@item.ProductionDate</td>
                                <td>@item.ExpiryDate</td>
                            </tr>
                            j++;
                        }
                    }
                </tbody>
            </table>
            <br />
            
            <br/>
            <div align="right">
                <a href="" data-toggle="modal" data-target="#hardware"><i class="zmdi zmdi-edit"></i> <span>edit</span></a>
            </div>
            <h4>Associated Hardware</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Hardware</th>
                        <th>Hardware Type</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int i = 1;

                        foreach (var item in @ViewBag.ascHardware)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.HardwareName</td>
                                <td>@item.HardwareType</td>
                                <td>@item.Comments</td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
            
        </div>

    
</div>



<div class="modal fade" id="modified" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("ContractEdit", "Edit", FormMethod.Post))
            {
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="exampleSelect1">Choose Contract to Edit</label>
                    <select class="form-control" id="contractSelect" name="contractSelect">
                        <option>Add New</option>
                        @foreach (var item in @ViewBag.appcontracts)
                        {
                            <option>@item.VenContractNum</option>
                        }
                    </select>
                    <input type="hidden" name="convendor" id="convendor" value ="@ViewBag.app.AppName" />
                </fieldset>
            </div>
            <div class="modal-footer">
                <input type="submit" id="btnSearch" class="btn" value="Edit" />
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="version" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("VersionEdit", "Edit", FormMethod.Post))
            {
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="exampleSelect1">Choose Version to Edit</label>
                    <select class="form-control" id="versionSelect" name="versionSelect">
                        <option>Add New</option>
                        @foreach (var item in @ViewBag.versions)
                        {
                            <option>@item.AppVersion @item.AppIE</option>
                        }
                    </select>
                </fieldset>
            </div>
            <input type="hidden" id="versionApp" name="versionApp" value="@ViewBag.app.AppName" />
            <div class="modal-footer">
                <input type="submit" id="btnSearch" class="btn" value="Edit" />
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="contacts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("ContactEdit", "Edit", FormMethod.Post))
            {
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="exampleSelect1">Choose Contact to Edit</label>
                    <select class="form-control" id="contactSelect" name="contactSelect">
                        <option>Add New</option>
                        @foreach (var item in @ViewBag.appcontacts)
                        {
                            <option>@item.VenContactFN @item.VenContactLN</option>
                        }
                    </select>
                </fieldset>
            </div>
            <input type="hidden" id="appname" name="appname" value="@ViewBag.app.AppName" />
            <input type="hidden" id="venid" name="venid" value="@ViewBag.vendor.VenID" />
            <div class="modal-footer">
            <input type="submit" id="btnSearch" class="btn" value="Edit" />
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="software" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Softwares", "Edit", FormMethod.Post))
            {
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="exampleSelect1">Choose Software to Edit</label>
                    <select class="form-control" id="softwareSelect" name="softwareSelect">
                        <option>Add New</option>
                        @foreach (var item in @ViewBag.ascSoftware)
                        {
                            <option>@item.AppAscSoftwareName</option>
                        }
                    </select>
                </fieldset>
            </div>
            <input type="hidden" id="softwareApp" name="softwareApp" value="@ViewBag.app.AppName" />
            <div class="modal-footer">
                <input type="submit" id="btnSearch" class="btn" value="Edit" />
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="hardware" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Hardwares", "Edit", FormMethod.Post))
            {
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="exampleSelect1">Choose Hardware to Edit</label>
                    <select class="form-control" id="hardwareName" name="hardwareName">
                        <option>Add New</option>
                        @foreach (var item in @ViewBag.ascHardware)
                        {
                            <option>@item.HardwareName</option>
                        }
                    </select>
                </fieldset>
            </div>
            <input type="hidden" id="hardwareApp" name="hardwareApp" value="@ViewBag.app.AppName" />
            <div class="modal-footer">
                <input type="submit" id="btnSearch" class="btn" value="Edit" />
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="expiremodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Expire", "Home", FormMethod.Post))
            {
                <div class="modal-body"> 
                    <p>Are you sure you want to expire this application?</p>
                </div>
                <input type="hidden" id="appid" name="appid" value="@ViewBag.app.AppID" />
                <div class="modal-footer">
                    <input type="submit" id="btnSearch" class="btn" value="Yes" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="unexpiremodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Unexpire", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>Are you sure you want to unexpire this application?</p>
                </div>
                <input type="hidden" id="appid" name="appid" value="@ViewBag.app.AppID" />
                <div class="modal-footer">
                    <input type="submit" id="btnSearch" class="btn" value="Yes" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    <h5>Are you sure you want to delete this application (@ViewBag.app.AppName)?</h5>
                    @if (ViewBag.app.AppVendor.AppMains.Count == 1)
                    {
                        <b>The Vendor (@ViewBag.vendor.VendName) will also be deleted, as it has no remaining applications.</b>
                        <input type="hidden" id="vendordelete" name="vendordelete" value="Y" />
                    }
                    else
                    {
                        <p>The Vendor (@ViewBag.vendor.VendName) will not be deleted, as there are other applications with the same number.</p>
                        <input type="hidden" id="vendordelete" name="vendordelete" value="N" />
                    }
                    <br/>
                    <br/>
                    <h5>This process can not be undone.</h5>
                </div>
                <input type="hidden" id="appid" name="appid" value="@ViewBag.app.AppID" />
                <input type="hidden" id="venid" name="venid" value="@ViewBag.vendor.VenID" />
                <div class="modal-footer">
                    <input type="submit" id="btnSearch" class="btn" value="Delete" />
                </div>
            }
        </div>
    </div>
</div>