
@{
    ViewBag.Title = "Version";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="~/Info/Index/@ViewBag.appname/">Go Back</a>

@using (Html.BeginForm("deleteVersion", "Info", FormMethod.Post))
{
    <div align="right">
        <button type="submit" class="btn btn-danger btn-rounded waves-effect waves-light">Delete</button>
    </div>
    <p  style="text-align:right">Warning: Pressing the delete button will also delete all associated servers.</p>
    <input type="hidden" id="appname" name="appname" value="@ViewBag.appname" />
    <input type="hidden" id="id" name="id" value="@ViewBag.versionid" />
}

<h2>Version</h2>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Version</th>
            <td>@ViewBag.version</td>
        </tr>
        <tr>
            <th>Instance Environment</th>
            <td>@ViewBag.IE</td>
        </tr>
        <tr>
            <th>Install Date</th>
            <td>@ViewBag.InstallDate</td>
        </tr>
        <tr>  
            <th>Upgrade Date</th>
            <td>@ViewBag.UpgradeDate</td>
        </tr>
    </tbody>
</table>

<h5>Server Database</h5>

<p>Click server name to edit.</p>

<div align="right">
    <a href="~/Edit/editServer/add/@ViewBag.versionid/"><i class="zmdi zmdi-edit"></i> <span>Add New</span></a>
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Server Name</th>
            <th>Server Type</th>
            <th>Operating System</th>
            <th>Server URL</th>
            <th>Database Name</th>
            <th>Database Type</th>
            <th>Instance Environement</th>
        </tr>
        @foreach (var item in ViewBag.servers)
        {
            <tr>
                <td><a href="~/Edit/editServer/@item.AppServerID/@ViewBag.versionid/">@item.AppServerName</a></td>
                <td>@item.AppServerType</td>
                <td>@item.AppServerOS</td>
                <td>@item.AppServerURL</td>
                <td>@item.AppDBName</td>
                <td>@item.AppDBType</td>
                <td>@item.AppServerIE</td>
            </tr>
        }
    </tbody>
</table>
