@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Application Asset Inventory System</h4>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-layers float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">Recently Modified</h6>
            <h2 class="m-b-20" data-plugin="counterup">@ViewBag.modifiedcount</h2>
            <span class="label label-success"> @ViewBag.modifiedpercent % </span> <span class="text-muted">Since Last Week</span>
            <button align="right" class="btn btn-sm btn-custom waves-effect waves-light float-right" data-toggle="modal" data-target="#modified">View</button>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-paypal float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">Expiring Contracts</h6>
            <h2 class="m-b-20"><span data-plugin="counterup">@ViewBag.totalContracts</span></h2>
            <span class="label label-danger"> @ViewBag.cnpercent % </span> <span class="text-muted">Of All Contracts</span>
            <button align="right" class="btn btn-sm btn-custom waves-effect waves-light float-right" data-toggle="modal" data-target="#contract">View</button>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-chart float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">App Work Requests</h6>
            <h2 class="m-b-20"><span data-plugin="counterup">@ViewBag.wrcount</span></h2>
            <span class="label label-pink"> @ViewBag.wrpercent % </span> <span class="text-muted">Of All WRequests</span>
            <button align="right" class="btn btn-sm btn-custom waves-effect waves-light float-right" data-toggle="modal" data-target="#wrequests">View</button>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-rocket float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">Newly Added</h6>
            <h2 class="m-b-20" data-plugin="counterup">@ViewBag.addedcount</h2>
            <span class="label label-warning"> @ViewBag.addedpercent % </span> <span class="text-muted">Since Last Month</span>
            <button align="right" class="btn btn-sm btn-custom waves-effect waves-light float-right" data-toggle="modal" data-target="#newlyadded">View</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>Active Applications</b></h4>
            <br />
            <br />

            <!---<td><a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter username">a a superuser</a></td> --->

            <div class="btn-group dropdown-btn-group pull-right">
                <a href='@Url.Action("Index", "Add")'><button type="button" class="btn btn-default" >Add new</button></a>
                <a href='@Url.Action("Index", "Expired")'><button type="button" class="btn btn-default">Expired</button></a>
            </div>

            <table id="datatable-buttons" class="table table-hover table-bordered" cellspacing="0" width="100%">


                <thead>
                    <tr>
                        <th>Application Name</th>
                        <th>Application Description</th>
                        <th>Application Type</th>
                        <th>Vendor Name</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @ViewBag.appTables)
                    {
                        if (item.Expired == "N")
                        {
                            <tr>
                                <td>
                                    <p><a href="~/Info/Index/@item.AppName/"> @item.AppName </a></p>
                                </td>
                                <td>
                                    <p>@item.AppDesc</p>
                                </td>
                                <td>
                                    @item.AppType
                                </td>
                                <td>
                                    @item.AppVendor.VendName
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modified" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recently Modified</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Application Name</th>
                            <th>Modified Date</th>
                            <th>Modified By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @ViewBag.newlymodified)
                        {
                            <tr>
                                <td><a href="~/Info/Index/@item.AppName/">@item.AppName</a></td>
                                <td>@item.ModifiedDate.ToShortDateString()</td>
                                <td>@item.ModifiedBy</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Expired Contracts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Contract Number</th>
                            <th>Application Name</th>
                            <th>Expired</th>
                        </tr>
                        @foreach (var item in @ViewBag.expiringContracts)
                        {
                            <tr>
                                <td><a href="~//Contract/Index/@item.VenContractNum/@item.AppMain.AppName/">@item.VenContractNum</a></td>
                                <td><a href="~/Info/Index/@item.AppMain.AppName">@item.AppMain.AppName</a></td>
                                @if (item.VenContractEnd > DateTime.Now)
                                {
                                    <td style="color:yellow;">@item.VenContractEnd</td>
                                }
                                else
                                {
                                    <td style="color:red;">@item.VenContractEnd</td>
                                }

                            </tr>
                        }
                    </thead>
                    
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wrequests" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Work Requests</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div align="right">
                    <a target="_blank" href="http://teamsites.mississauga.ca/sites/103">View All Requests</a>
                </div>
                <br/>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Work Request</th>
                            <th>Application Name</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @ViewBag.workRequest)
                        {
                            string wrname = @item[3].InnerText.Trim();
                            wrname = wrname.Remove(wrname.Length - 3);
                            <tr>
                                    <td>@wrname</td>
                                    <td>@Html.Raw(item[21].InnerHtml)</td>
                                    <td>@Html.Raw(item[18].InnerHtml)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newlyadded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Newly Added</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Application Name</th>
                            <th>Date Added</th>
                            <th>Added By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.newlyadded)
                        {
                            <tr>
                                <td><a href="~/Info/Index/@item.AppName/">@item.AppName</a></td>
                                <td>@item.CreatedDate.ToShortDateString()</td>
                                <td>@item.CreatedBy</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {


            //Buttons examples
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf']
            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });

    </script>


    <!-- Required datatable js -->
    <script src="~/Content/AdminTheme/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Content/AdminTheme/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/Content/AdminTheme/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminTheme/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- XEditable Plugin -->
    <script src="~/Content/AdminTheme/assets/plugins/moment/moment.js"></script>
    <script type="text/javascript" src="~/Content/AdminTheme/assets/plugins/x-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="~/Content/AdminTheme/assets/pages/jquery.xeditable.js"></script>

}