
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Go Back", "Index", "Info", new { id = ViewBag.appname }, null)

<h2>Contract Details</h2>

<table class="table table-striped table-bordered">
    <tr>
        <th>Contract Number</th>
        <td>@ViewBag.VenContractNum</td>
    </tr>
    <tr>
        <th>Contract Admin</th>
        <td>@ViewBag.VenContractAdmin</td>
    </tr>
    <tr>
        <th>Contract Start Date</th>
        <td>@ViewBag.VenContractStart</td>
    </tr>
    <tr>
        <th>Contract End Date</th>
        <td><mark class="red">@ViewBag.VenContractEnd</mark></td>
    </tr>
    <tr>
        <th>Contract Renewal Date</th>
        <td>@ViewBag.VenContractRenew</td>
    </tr>
    <tr>
        <th>Contract Comments</th>
        <td>@ViewBag.VenContractComment</td>
    </tr>
</table>